.third{
    padding: 55px 0 35px;
    box-shadow: 0 0 10px rgba(18, 18, 18, 0.55);
    background-color: bg-color(grey-light);
    position: relative;
    z-index: 1;

    &__container{
        border: 1px solid bg-color(grey-medium);
        width: calc(100% / 12 * 7 + 60px);
        margin: 0 auto;
        padding: 30px;
    }

    &__heading{
        margin: 0 0 45px;
        text-align: center;
        font-size: rem(36px);
        color: text-color(blue);

        span{
            font-size: rem(16px);
            line-height: rem(22px);
            color: text-color(red);
            display: block;
            padding-top: 15px;
        }
    }
    
    &__data{
        width: 100%;
        margin: 0 auto 90px;
        display: flex;
        justify-content: space-between;

        &-item{
            background-color: darken(bg-color(blue), 20%);
            color: text-color(light);
            width: calc(100% / 2 - 15px);
            height: 100px;
            border-radius: 10px;
            @include aligment();
            flex-direction: column;
            @include size(px, px);

            span{
                font-weight: 700;
                font-size: rem(24px);
                color: text-color(red);
            }
        }
    }
}